<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrgames13.jimdo.bsbz_app"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity -->
        <activity
            android:name=".App.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- LogoActivity -->
        <activity android:name=".App.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- LogInActivity -->
        <activity android:name=".App.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- RegistrationActivity -->
        <activity
            android:name=".App.RegistrationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- SettingsActivity -->
        <activity
            android:name=".App.SettingsActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- WebActivity -->
        <activity
            android:name=".App.WebActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>
        <!-- TimeTableActivity -->
        <activity
            android:name=".App.TimeTableActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- DayDetailsActivity -->
        <activity android:name=".App.DayDetailsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- NewNewActivity -->
        <activity
            android:name=".App.NewNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- EditNewActivity -->
        <activity
            android:name=".App.EditNewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- ImageFolderActivity -->
        <activity android:name=".App.ImageFolderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- ImageFullscreenActivity -->
        <activity android:name=".App.ImageFullscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- ImagePickerActivity -->
        <activity android:name=".App.ImagePickerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- NewEditElementActivity -->
        <activity
            android:name=".App.NewEditElementActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- EditTimetableActivity -->
        <activity
            android:name=".App.EditTimeTableActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- EditInfoActivity -->
        <activity
            android:name=".App.EditInfoActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <!-- SyncronisationService -->
        <service android:name=".Services.SyncronisationService"/>
        <!-- PercentService -->
        <service android:name=".Services.PercentService"/>
        <!-- BootCompletedReceiver -->
        <receiver android:name=".BroadcastReceiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!-- TimeChangedReceiver -->
        <receiver android:name=".BroadcastReceiver.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK"/>
            </intent-filter>
        </receiver>
        <!-- HomescreenHidgetReceiver -->
        <receiver
            android:name=".HomescreenWidget.Widget_Provider"
            android:label="BSBZ App Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
        <!-- HomescreenWidgetUpdateService -->
        <service android:name=".HomescreenWidget.Widget_Update_Service"/>
        <!-- FCMInstanceIDService -->
        <service android:name=".FirebaseMessaging.FCM_Instance_ID_Service">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- FCMMessagingService -->
        <service android:name=".FirebaseMessaging.FCM_Messaging_Service">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>
</manifest>